---
import '@epicenter/ui/app.css';
import PostHog from '../components/posthog.astro';

export type Props = {
	title: string;
	description?: string;
};

const { title, description = 'Epicenter - Building tools that matter' } =
	Astro.props;
---

<!doctype html>
<html lang="en" class="style-vega">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="generator" content={Astro.generator}>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://epicenter.so/">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="https://epicenter.so/og-image.png">
		<meta name="twitter:image" content="https://epicenter.so/og-image.png">
		<meta property="og:site_name" content="Epicenter">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<link rel="canonical" href="https://epicenter.so/">
		<meta name="theme-color" content="#000000">
		<meta name="robots" content="index, follow">
		<title>{title}</title>
		<slot name="head" />
		<PostHog />
	</head>
	<body>
		<slot />
	</body>
</html>
